Урок 2. Введение в подготовку данных для аналитиков. Таблицы фактов и таблицы измерений
1. Скачайте датасет fifаs2.сsv. Проанализируйте его и определите, какие данные являются неполными. Удалите
ненужные колонки и недостающие значения.

2. Найдите в датафрейме полные дубликаты и удалите их. Значения могут быть одинаковыми, но написаны по-разному. Например, может отличаться размер регистра (заглавные и строчные буквы). Особое внимание уделить колонке с названиями команд.

3. Напишите функцию, которая добавит колонку с разбиением возраста по группам: до 20, от 20 до 30, от 30 до
36 и старше 36. Посчитайте количество футболистов в каждой категории.

In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [50]:
df = pd.read_csv('fifa_s2.csv')

In [51]:
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,1179,G. Buffon,40,Italy,88,88,Paris Saint-Germain,4000.0,77,Right,4.0,1.0,GK,2018,01/01/2019,6.333333,203.0,7400.0
1,5479,Casillas,37,Spain,82,82,FC Porto,1500.0,10,Left,4.0,1.0,NaN,2015,01/01/2019,6.083333,185.0,3000.0
2,8205,Braga,35,Portugal,70,70,CD Aves,750.0,5,Right,1.0,3.0,LCM,2017,01/01/2019,5.916667,165.0,1600.0
3,9014,A. Robben,34,Netherlands,84,84,FC Bayern München,15500.0,110,Left,4.0,4.0,RM,2009,01/01/2019,5.916667,176.0,25600.0
4,19521,J. Ibehre,35,England,61,61,Cambridge United,120.0,2,Right,1.0,2.0,ST,2017,01/01/2019,6.333333,203.0,210.0

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2399 non-null   int64
 1   Name                      2399 non-null   object
 2   Age                       2399 non-null   int64
 3   Nationality               2392 non-null   object
 4   Overall                   2399 non-null   int64
 5   Potential                 2399 non-null   int64
 6   Club                      2158 non-null   object
 7   Value                     2142 non-null   float64
 8   Wage                      2399 non-null   int64
 9   Preferred Foot            2399 non-null   object
 10  International Reputation  2389 non-null   float64
 11  Skill Moves               2393 non-null   float64
 12  Position                  2378 non-null   object
 13  Joined                    2399 non-null   int64
 14  Contract Valid Until      2126 non-null   object
 15  Height                    2399 non-null   float64
 16  Weight                    2399 non-null   float64
 17  Release Clause            2396 non-null   float64
dtypes: float64(6), int64(6), object(6)
memory usage: 337.5+ KB

In [53]:
category_columns = df.select_dtypes(include=['object']).columns
category_columns

Index(['Name', 'Nationality', 'Club', 'Preferred Foot', 'Position',
       'Contract Valid Until'],
      dtype='object')

In [54]:
for column in category_columns:
    df[column] = df[column].str.lower()

In [55]:
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,1179,g. buffon,40,italy,88,88,paris saint-germain,4000.0,77,right,4.0,1.0,gk,2018,01/01/2019,6.333333,203.0,7400.0
1,5479,casillas,37,spain,82,82,fc porto,1500.0,10,left,4.0,1.0,NaN,2015,01/01/2019,6.083333,185.0,3000.0
2,8205,braga,35,portugal,70,70,cd aves,750.0,5,right,1.0,3.0,lcm,2017,01/01/2019,5.916667,165.0,1600.0
3,9014,a. robben,34,netherlands,84,84,fc bayern münchen,15500.0,110,left,4.0,4.0,rm,2009,01/01/2019,5.916667,176.0,25600.0
4,19521,j. ibehre,35,england,61,61,cambridge united,120.0,2,right,1.0,2.0,st,2017,01/01/2019,6.333333,203.0,210.0

In [56]:
df.duplicated().sum()

2

In [57]:
df.drop_duplicates(inplace=True)

In [58]:
df.isnull().sum()

ID                            0
Name                          0
Age                           0
Nationality                   7
Overall                       0
Potential                     0
Club                        241
Value                       257
Wage                          0
Preferred Foot                0
International Reputation     10
Skill Moves                   6
Position                     21
Joined                        0
Contract Valid Until        273
Height                        0
Weight                        0
Release Clause                3
dtype: int64

In [59]:
df['Nationality'].fillna('unknown', inplace=True)
df['Club'].fillna('unknown', inplace=True)
df['Value'].fillna(df['Value'].median(), inplace=True)
df['International Reputation'].fillna(df['International Reputation'].median(), inplace=True)
df['Skill Moves'].fillna(df['Skill Moves'].median(), inplace=True)
df['Position'].fillna('unknown', inplace=True)
df['Release Clause'].fillna(df['Release Clause'].median(), inplace=True)

In [60]:
df.isnull().sum()

ID                            0
Name                          0
Age                           0
Nationality                   0
Overall                       0
Potential                     0
Club                          0
Value                         0
Wage                          0
Preferred Foot                0
International Reputation      0
Skill Moves                   0
Position                      0
Joined                        0
Contract Valid Until        273
Height                        0
Weight                        0
Release Clause                0
dtype: int64

In [61]:
drop_colms = ['ID', 'Contract Valid Until']
df.drop(drop_colms, axis=1, inplace=True)

In [62]:
df.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Height,Weight,Release Clause
0,g. buffon,40,italy,88,88,paris saint-germain,4000.0,77,right,4.0,1.0,gk,2018,6.333333,203.0,7400.0
1,casillas,37,spain,82,82,fc porto,1500.0,10,left,4.0,1.0,unknown,2015,6.083333,185.0,3000.0
2,braga,35,portugal,70,70,cd aves,750.0,5,right,1.0,3.0,lcm,2017,5.916667,165.0,1600.0
3,a. robben,34,netherlands,84,84,fc bayern münchen,15500.0,110,left,4.0,4.0,rm,2009,5.916667,176.0,25600.0
4,j. ibehre,35,england,61,61,cambridge united,120.0,2,right,1.0,2.0,st,2017,6.333333,203.0,210.0

In [63]:
def age_to_range(age):
    if age < 20:
        return 'Range 1'
    elif 20 <= age <30:
        return 'Range 2'
    elif 30 <= age < 36:
        return 'Range 3'
    else:
        return 'Range 4'

In [64]:
df['Age Range'] = df['Age'].apply(age_to_range)

In [65]:
df['Age Range'].value_counts()

Range 2    1646
Range 3     458
Range 1     270
Range 4      23
Name: Age Range, dtype: int64